@import "../font";
@import "../rootColor";

@mixin modal {
  .modal-content {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);

    .modal-header {
      border: 0;

      .modal-title {
        font-family: "Righteous", cursive;
      }
    }

    .modal-body .badge {
      font-family: "Puritan", sans-serif;
      font-weight: 700;
      letter-spacing: 2px;
      background: $orange;
    }

    .modal-body .btn {
      font-family: "Puritan", sans-serif;
      color: #fff;
      background: $grayDark;
    }

    .modal-body .title {
      font-family: "Puritan", sans-serif;
      color: #000;
    }
  }
}
