@import "../font";
@import "../rootColor";

@mixin navbar {
  .navbar {
    position: fixed;
    width: 101%;
    height: 100px;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 99;

    #navbar-logo {
      font-family: "Righteous", cursive;
      letter-spacing: 0.1em;
      color: #f0a500;
      margin-bottom: 0;
      cursor: pointer;
    }

    .nav-menu {
      list-style: none;
      text-align: center;
      width: 35%;

      .nav-links {
        font-family: "Righteous", cursive;
        font-style: normal;
        font-weight: normal;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        transition: 0.3s ease-in-out;
      }
    }

    .menu-toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }

    ul {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      .nav-menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 90px;
        left: -100%;
        opacity: 0;
        padding: 10px 0;
        transition: all 0.3s ease-in-out;
      }

      .nav-menu.active {
        background: $grayDark;
        left: 0;
        opacity: 1;
        transition: all 0.3s ease;
        box-shadow: 0px 7.5px 25px 0px rgba(0, 0, 0, 0.3);
      }

      .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        color: #fff;
      }

      #mobile-menu {
        position: absolute;
        top: 35px;
        right: 7%;
        transition: 0.3s ease-in-out;
      }

      .menu-toggle .bar {
        display: block;
        transition: 0.3s;
        cursor: pointer;
      }

      .menu-toggle:hover {
        cursor: pointer;
      }

      #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }

      #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .sticky {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 101%;
    height: 75px;

    #navbar-logo {
      filter: drop-shadow(0 0 2px);
    }

    .nav-menu {
      top: 75px;
      .nav-links {
        color: $grayDark;
        filter: drop-shadow(0 0 2px);
      }
    }

    @media (max-width: 768px) {
      .nav-menu {
        .nav-links {
          color: #fff;
          filter: none;
        }
      }

      #mobile-menu {
        position: absolute;
        top: 25px;
        right: 7%;
      }

      .menu-toggle .bar {
        background: $grayDark;
        filter: drop-shadow(0 0 1px);
      }
    }
  }
}
