@import "../font";
@import "../rootColor";

@mixin recipe {
  #recipe {
    margin-top: 150px;
    min-height: 85vh;
    scroll-margin-top: 75px;

    .form-control {
      background: $grayDark;
      border: 1px solid $grayDark;
      color: #fff;
    }

    .button {
      font-family: "Puritan", sans-serif;
      font-weight: 700;
      background: $orange;
    }

    .form-select {
      font-family: "Puritan", sans-serif;
      font-weight: 700;
      font-size: 18px;
      max-width: 175px;
      background-color: $orange;
      border: 0;
    }
  }
}
