@import "./font";
@import "./rootColor";
@import "./components/navbar";
@import "./components/hero";
@import "./components/category";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  scroll-behavior: smooth;
}

@include navbar;

@include hero;

@include category;
